<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Recipe App</title>
<link rel="stylesheet"
	href="https://igoradamenko.com/awsm.css/v2/css/awsm.min.css">
<style>
.Bd {
	border: solid 1px black;
}

.P\(0\) {
	padding: 0;
}

.P\(10px\) {
	padding: 10px;
}

.M\(0\) {
	margin: 0;
}

.M\(10px\) {
	margin: 10px;
}

.Bdc\(red\) {
	border-color: red !important;
}

.C\(red\) {
	color: red;
}
</style>
</head>
<body>
	<main>
		<fieldset>
			<legend>Projekt</legend>
		</fieldset>
	</main>
</body>
</html>